<div class="container">
  <div class="col">
    <h1>{{ title }}</h1>
  </div>
  <!-- row es para que los elementos aparezcan en fila -->
  <form action="" class="form-group row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre:</label>
      <!-- Con [(ngModel)]="cuadroNombre" puedo guardar en la variable cuadroNombre: de app.component.ts el nombre que introduzco en la forma-->
      <input
        type="text"
        name="nombre"
        id="nombre"
        placeholder="Nombre"
        class="form-control"
        [(ngModel)]="cuadroNombre"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="apellido">Apellido:</label>
      <input
        type="text"
        name="apellido"
        id="apellido"
        placeholder="Apellido"
        class="form-control"
        [(ngModel)]="cuadroApellido"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="cargo">Cargo:</label>
      <input
        type="text"
        name="cargo"
        id="cargo"
        placeholder="Cargo"
        class="form-control"
        [(ngModel)]="cuadroCargo"
      />
    </div>
    <div class="form-group col-md-3">
      <label for="salario">Salario:</label>
      <input
        type="text"
        name="salario"
        id="salario"
        placeholder="Salario"
        class="form-control"
        [(ngModel)]="cuadroSalario"
      />
    </div>
    
    <!-- Agrego el boton: -->
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()" style="margin-top: 15px;">
        Agregar:
      </button>
    </div>
  </form>
</div>
<br />

<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let empleado of empleados; let i = index">
        <!-- Ver que despues de }} si hago un espacio agrega uno solo en blanco -->
        Nº:{{ i + 1 }} {{ empleado.nombre }} {{ empleado.apellido }}
        {{ empleado.cargo }} {{ empleado.salario }}
      </div>
    </div>
  </div>
</div>
