<p>Nombre del empleado: {{nombre}}</p>
<!-- Cuando tipeo el apellido que me vaya saliendo en la pantalla, apellido.value es el valor del texto -->
<p>Apellido del empleado: {{apellido.value}}</p>
 
<!-- Creo un binding de la propiedad disabled con el valor de la variable habilitacionCuadro -->
Introduce el apellido del empleado: <input type="text" #apellido   (keyup)="0"   [disabled]="habilitacionCuadro"> <!-- debo poner (keyup)="0"  -->
<br>

Numero de letras del apellido: {{numeroLetras - 1}} 
<br>
<!-- Puedo usar expresiones en las interpolaciones -->
<!-- <p>Edad del empleado: {{edad + 4}}</p>  -->
<!-- Puedo usar condicionales -->
<p>Edad del empleado: {{edad < 18? "Menor de edad":"Mayor de edad" }}</p>

<!-- Aclaro que quiero usar el valor del campo empresa como empresa.value-->
<p>Empresa del empleado: {{empresa.value}}</p>

<!-- con #empresa identifico el cuadro de texto -->
Introduce el nombre de la empresa: <input type="text" #empresa  >
<br>
<br>

<!-- Cuando aprieto el botón llamo a una función llamaEmpresa que toma el valor del campo input #empresa -->
<!-- así cuando lo aprieto tengo en empresa.value el texto que tengo que presentar.   -->
<input type="button" value="Empresa" (click)="llamaEmpresa(empresa.value)"/>
<br>
<br>

<!-- con #email identifico el cuadro de texto.  Con 0 decimos que el evento se ejecute inmediatamente al levantar la tecla -->
<!-- Property binding:  [disabled] entre corchetes asigno valores a la propiedad de acuerdo a una variable -->
Introduce el email del empleado (para poder ingresarlo debe estar registrado): <input type="text" #email (keyup)="0" [disabled] = "habilitacionEmail"  >
<br>
<br>
<!-- En el cuadro de texto aparece el correo a medida que tipeo el mismo -->
El email ingresado es : {{email.value}} 
<br>
<br>


<!-- La propiedad [checked] depende del valor de la variable usuarioregistrado, true aparece el tick en el checkbox  -->
<!-- Cuando se hace click en el checkbox se llama a la función setUsuarioRegistrado, que activa una alerta  -->
Registrado: <input type="checkbox" id="registro" [checked]="usuarioRegistrado" (click)="setUsuarioRegistrado()"  > 

{{getRegistroUsuario()}} <!-- llamo a la función getRegistroUsuario() -->
{{getNumeroLetras()}} <!-- Cada vez que actualizo un dato de la página de forma dinámica se llama a este método -->



 