<p>Nombre del empleado: {{nombre}}</p>
<!-- Cuando tipeo el apellido que me vaya saliendo en la pantalla, apellido.value es el valor del texto -->
<p>Apellido del empleado: {{apellido.value}}</p>
 
<!-- Creo un binding de la propiedad disabled con el valor de la variable habilitacionCuadro -->
Introduce el apellido del empleado: <input type="text" #apellido   (keyup)="0"   [disabled]="habilitacionCuadro"> <!-- debo poner (keyup)="0"  -->
<br>

Numero de letras del apellido: {{numeroLetras - 1}} 
<br>
<!-- Puedo usar expresiones en las interpolaciones -->
<!-- <p>Edad del empleado: {{edad + 4}}</p>  -->
<!-- Puedo usar condicionales -->
<p>Edad del empleado: {{edad < 18? "Menor de edad":"Mayor de edad" }}</p>
 
<!-- Aclaro que quiero usar el valor del campo empresa como empresa.value-->
<p>Empresa del empleado: {{empresa}}</p>

<!-- con #empresa identifico el cuadro de texto -->
<!-- Introduce el nombre de la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro" > -->

<!-- para el one way binding habilito los dos renglones de código de abajo: -->
<!-- hago un event binding: cuando introduzco en el campo un texto invoco la funcion cambiaEmpresa() -->
<!-- Introduce el nombre de la empresa: <input type="text"  (input)="cambiaEmpresa($event)"> -->

<!-- Two way binding -->
<!-- Solo usando [(ngModel)]="propiedad con la que quiero hacer el binding" (empresa en este caso) hago el two way binding.-->
<!-- No agrefgo ninguna función en typescript -->
Introduce el nombre de la empresa: <input type="text" [(ngModel)]="empresa">
<br>
<br>


<!-- Event Binding:  Cuando aprieto el botón llamo a una función llamaEmpresa que toma el valor del campo input #empresa -->
<!-- así cuando lo aprieto tengo en empresa.value el texto que tengo que presentar.   -->
<input type="button" value="Empresa" (click)="llamaEmpresa(empresa)"/>
<br>
<br>

<!-- con #email identifico el cuadro de texto.  Con 0 decimos que el evento se ejecute inmediatamente al levantar la tecla -->
<!-- Property binding:  [disabled] entre corchetes asigno valores a la propiedad de acuerdo a una variable -->
Introduce el email del empleado (para poder ingresarlo debe estar registrado): <input type="text" #email (keyup)="0" [disabled] = "habilitacionEmail">
<br>
<br>
<!-- En el cuadro de texto aparece el correo a medida que tipeo el mismo -->
El email ingresado es : {{email.value}} 
<br>
<br>

<!-- Aqui interpolamos el valor de textoDeRegistro -->
{{textoDeRegistro}} 
<br>

<!-- La propiedad [checked] depende del valor de la variable usuarioregistrado, si es true aparece el tick en el checkbox,  -->
<!-- Property binding: [property] = "contenido de una variable", la propiedad depende del contenido de la variable   ] -->
<!-- Cuando se hace click en el checkbox se llama a la función setUsuarioRegistrado, que activa una alerta. Event binding:  (accion)="nombre funcion"  -->

<!-- Para el caso de checkbox -->
<!-- Registrado: <input type="checkbox" id="registro" [checked]="usuarioRegistrado" (click)="setUsuarioRegistrado()"> -->

<!-- Para el caso de radio button.  Con $event capturamos el objeto que se crea cuando hago click en el radio button y puedo usar sus atributos y métodos -->
Registrado: <input type="radio" value = "si" name="nRegistro" [checked]="usuarioRegistrado"   (click)="setUsuarioRegistrado($event)"> 
No registrado: <input type="radio" value = "no" name="nRegistro" (click)="setUsuarioRegistrado($event)" >

{{getRegistroUsuario()}} <!-- llamo a la función getRegistroUsuario() -->
{{getNumeroLetras()}} <!-- Cada vez que actualizo un dato de la página de forma dinámica se llama a este método -->



 